
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=VT323&display=swap');


body {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

:root {
    --violeta: rgba(95, 82, 161, 255);
    --rojo: rgba(231, 0, 80, 255);
    --negro: rgba(49, 49, 49, 255);
    --piel: rgba(245, 214, 196, 255);
    --gris: rgba(83, 83, 83, 255);
    --rosa: rgba(242, 156, 159, 255);
    --blanco: rgba(255, 255, 255, 0.822);
}

h1 {
font-family: 'VT323', monospace;
font-size: 5rem;
letter-spacing: 1rem;
text-shadow: 2px 2px 4px #000000;
}

#luciana:hover{
    color: var(--rojo);
    text-shadow: 2px 2px 4px --negro;
}

#zaracho:hover{
    color: var(--violeta);
    text-shadow: 2px 2px 4px --negro;
}
.principal-descripcion {
    max-width: 800px;
    font-size: 2rem;
    padding: 1rem;
}
.foto-principal {
    width: 12em;
    border-radius: 50%;
}
.foto-principal:hover {
    transform: scale(1.05);
}
header {
    padding: 1rem;
    padding-right: 6rem;
    text-align: right;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

#nav-image{
    margin-right: auto;
    size: 30px;
    height: 13vh;
    transition: 0.3s;
} 


#nav-image:hover {
        transform: translate(10px, 0);
}

nav a:link{
    text-decoration: none;
    color: --blanco;
    text-transform: uppercase;
    font-size:1.5rem;
    font-weight: 600;
}

nav a:visited{
    color: var(--blanco);
}

li {
    display: inline-block;
    margin-inline: 1.5rem;
    list-style-type: none;

}

nav a:hover{
    color: rgba(255, 255, 255, 0.61);
    cursor: pointer;
}


.contacto-nav{
        background-color: grey;
        color: white;
        padding: 10px 50px;
        border-radius: 100px;
    }

.contacto-nav:hover{
    background-color: var(--rosa);
    color: var(--negro);
    transition: 0.3s;

}

.principal {
    background-color: var(--negro);
    height: 30%;
    padding: 12%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.872);

}

button {
    font-size: 2rem;
    padding: 20px;
    top: 50%;
    border: none;
    border-radius: 50px;
    background-color: var(--rosa);
    font-weight: 650;
}

button:hover{
    color: var(--blanco);
    background-color: var(--rojo);
    cursor: pointer;
    transition: 0.3s;

}

button a:link{
    text-decoration: none;
    color: var(--blanco);
}

button a:visited{
    color: var(--blanco);
}
/* SECCION MIS CONOCIMIENTOS */

 .conocimientos {
    background-image: url(img/invaders-wallpaper.png);
    background-repeat: no repeat;
    background-color: var(--negro);
    color: var(--blanco)
}  
.conocimientos h2 {
    text-align: center;
    padding: 3rem;
    font-family: 'VT323', monospace;
    font-size: 5rem;
    font-weight: 80;
}

.conocimientos p {
    text-align: center;
}

/* SECCION CAJITAS */

.cajitas {
    width: 60%;
    height: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}
.cajitas div {
    width: 8rem;
    height: auto;
    margin: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
    border: 0.3px solid grey;
    border-radius: 15px;
    padding: .5rem;
    font-size: 2rem;
    color: var(--negro);

}

.cajitas div img {
 padding: 1rem;
}

.cajitas div:hover {
    color: var(--blanco);
    border: 3px rgba(158, 17, 245, 0.54);
    transform: scale(1.1);
    cursor: pointer;
    background-color: var(--rosa);
    transition: 0.3s;
}


/* CITA */

.cita {
    background-color: var(--rosa);
    padding: 1rem;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 60vh;
    flex-direction: column;

}
.fa-quote-right {
    font-size: 5rem;
    padding: 2rem;
    font-weight: bolder;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cita p{
    display: flex;
    padding: 2rem;
}

.cita h4 {
    text-align: center;
    padding: 2rem;
}

/* SECCION MIS PROYECTOS */

.proyectos {
    background-color: var(--gris);
    height: 100%;
    padding: 2rem;
    color: var(--blanco);
}

.proyectos h3 {
    text-align: center;
    padding: 2rem;
}

.proyectos p {
    text-align: center;
    font-size:1.5rem;
   
}

.proyectos span {
    font-weight: 600;
}


.proyectos-imagenes{
    display:grid;
    justify-content: center;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   height: auto;
   width: 75%;
   grid-gap: 20px;
   margin: 5% 15% 5% 15%;
}

.proyectos-imagenes div {
    width: 330px;
    height: auto;
    border: 0.5px hsla(341, 18%, 15%, 0.1); 
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px;
    outline: 1px solid;
}

.proyectos-imagenes div span{
    padding: 1rem;
}
.proyectos-imagenes div:hover {
    color:blueviolet;
    border: 3px rgba(158, 17, 245, 0.54);
    transform: scale(1.1);
    cursor: pointer;
    background-color: var(--blanco);

}

.proyectos-imagenes img {
    width: 330px;
    height: 250px;
}
.texto-imagen-proyectos {
    font-size:1.5rem;
}

/* SECCIONES CONTACTAME/ESCRIBIME */

.contacto-escribime {
    background-color: var(--violeta);
    display: flex;
    flex-direction: row;
    width: auto;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    margin: 70px 200px 70px 200px;
    padding: 30px 80px 30px 80px;

   
}

.contactame {
    min-width: 50%;
}

.contactame-titulo {
    padding-bottom: 2rem;
}
.contactame-texto {
}

.contactame-texto-icono {
    font-size: 1.4rem;
}

.contactame-texto-icono:hover{
    color: var(--rosa);
}
.escribime {
    height: 80vh;
    width: 150vw;
    padding: 3rem;

}

.contactame-texto-icono {
    text-transform: lowercase;
}

.fa-brands, 
.fa-regular{
    font-size: 1.2rem;
    color: var(--blanco);
    margin: 1rem;
}

.fa-brands:hover,
.fa-regular:hover {
    color: var(--rosa);
}

input, textarea {
    border-radius: 20px;
    padding: 10px 15px;
    display: block;
    
}

form label {
    padding: 1rem;
}

form {
    font-size: 1.5rem;
}

.escribime-boton-enviar {
    margin-top: 15px;
    padding: 8px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 48px;
    background-color: --rosa;
    color: --blanco;
    margin-bottom: 2rem;
}

.contact-send-btn:hover {
    background-color: var(--rojo);
    color: var(--blanco);

    cursor: pointer;
}
/* SECCION FOOTER */

.indices-footer {
    display: flex;
    justify-content: center;
}
.iconos-footer {
    display: flex;
    justify-content: center;
}
footer {
    background-color: var(--rojo);
    padding: 4rem;
}

footer p {
    display: flex;
    justify-content: center;
}

/* MEDIA QUERIES */

/* TABLET */

@media (max-width: 880px) {

header {
    height: auto;
    
}

li {
    display: flex;
    padding: 1rem 2rem 1rem;
}

.foto-principal {
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.proyecto-item {
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.contacto-escribime {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height: 230vh;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0;
}
.contactame-texto-icono {
    min-width: 600px;
}

.escribime form{
    font-size: 12px;
    margin: 10px;
}

.footer-nav ul {
    text-align: center;
    gap: 10px;
}

.indices-footer {
    font-size: 20px;
    display: inline-block;
    padding: 0;
    margin: 0;
}
}

/* CELULAR */

@media (max-width: 480px) {
.conocimientos {
    background-image: none;
    background-color: black;
}

.cajitas {
    display: flex;
    flex-wrap: wrap;
}

.cita p {
    font-size: 3rem;
    font-weight: 600;
}

.contacto-escribime {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem;
  max-width: 480px;
  min-height: 500px;
}
.contactame-texto {
    display: none;
}

.escribime form textarea {
 font-size: 10px;
}

.iconos-footer li {
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0;
  justify-content: center;
  max-width: 400px;
  gap: 10px;
}

}