
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=VT323&display=swap');


body {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
     /* font-family: 'VT323', monospace; */

}

:root {
    --violeta: rgba(95, 82, 161, 255);
    --rojo: rgba(231, 0, 80, 255);
    --negro: rgba(49, 49, 49, 255);
    --piel: rgba(245, 214, 196, 255);
    --gris: rgba(83, 83, 83, 255);
    --rosa: rgba(242, 156, 159, 255);
    --blanco: rgba(255, 255, 255, 0.822);
}

h1 {
font-family: 'VT323', monospace;
font-size: 5rem;
letter-spacing: 1rem;
text-shadow: 2px 2px 4px #000000;
}

#luciana:hover{
    color: var(--rojo);
    text-shadow: 2px 2px 4px --negro;

}


#zaracho:hover{
    color: var(--violeta);
    text-shadow: 2px 2px 4px --negro;
}
.foto_principal {
    width: 12em;
    border-radius: 50%;
}
.foto_principal:hover {
    transform: scale(1.05);
}
header {
    padding: 1rem;
    padding-right: 6rem;
    text-align: right;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

#nav-image{
    margin-right: auto;
    size: 30px;
    height: 13vh;
    transition: 0.3s;
} 


#nav-image:hover {
        transform: translate(10px, 0);
}

nav a:link{
    text-decoration: none;
    color: --blanco;
    text-transform: uppercase;
    font-size:1.5rem;
    font-weight: 600;
}

nav a:visited{
    color: var(--blanco);
}

li {
    display: inline-block;
    margin-inline: 1.5rem;
    list-style-type: none;

}

nav a:hover{
    color: rgba(255, 255, 255, 0.61);
    cursor: pointer;
}


.contacto-nav{
        background-color: grey;
        color: white;
        padding: 10px 50px;
        border-radius: 100px;
    }

.contacto-nav:hover{
    background-color: var(--rosa);
    color: var(--negro);
}


.principal {
    background-color: var(--negro);
    height: 30%;
    padding: 12%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.872);

}

button {
    font-size: 2rem;
    padding: 20px;
    top: 50%;
    border: none;
    border-radius: 50px;
    background-color: var(--rosa);
    font-weight: 650;
}

button:hover{
    color: var(--blanco);
    background-color: var(--rojo);
    cursor: pointer;
}

button a:link{
    text-decoration: none;
    color: var(--blanco);
}

button a:visited{
    color: var(--blanco);
}
/* SECCION MIS CONOCIMIENTOS */

/* .conocimientos {
    background-image: url(img/img-fondo.jpg);
} */
.conocimientos h2 {
    text-align: center;
    padding: 4rem;
    font-family: 'VT323', monospace;
    font-size: 5rem;
    font-weight: 80;
}

.conocimientos p {
    text-align: center;
}

/* SECCION CAJITAS */

.cajitas {
    width: 60%;
    height: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}
.cajitas div {
    width: 8rem;
    height: auto;
    margin: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
    /* flex:wrap; */
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
    border: 0.3px solid grey;
    border-radius: 15px;
    padding: .5rem;
    font-size: 2rem;

}

.cajitas div img {
 padding: 1rem;
}

.cajitas div:hover {
    color:blueviolet;
    border: 3px rgba(158, 17, 245, 0.54);
    transform: scale(1.1);
    cursor: pointer;

}


/* CITA */

.cita {
    background-color:  var(--rosa);
    margin: 5rem;
    padding: 1rem;
    width: 100rem;
}
.cita h3{
    font-size: 12rem;
    font-weight: bolder;
    text-align: center;

}

.cita p{
    display:inline-block;
    padding: ;
    padding-bottom: 2rem;
}

.cita h4 {
    text-align: center;
    padding: 2rem;
}

/* SECCION MIS PROYECTOS */

.proyectos {
    background-color: var(--gris);
    height: 100%;
    padding: 2rem;
    color: var(--blanco);
}

.proyectos h3 {
    text-align: center;
    padding: 2rem;
}

.proyectos p {
    text-align: center;
    font-size:1.5rem;
   
}

.proyectos span {
    font-weight: 600;
}
/* .proyectos-imagenes {
    width: 90%;
    text-align: center;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-template-areas:
    "portfolio memes match3"
    "gastos reuniones todo"
    "peliculas"; */
    /* gap: 1rem; */
    /* grid-template: */
    /* "portfolio memes match3" 150px
    "gastos reuniones todo" 150px
    "peliculas" 150px
    200px auto; */
/* }  */



/* .portfolio{
    grid-area: portfolio;
}
.memes {
    grid-area: memes;
}
.match3 {
    grid-area: match3;
}
.gastos {
    grid-area:gastos;
}
.reuniones{
    grid-area: reuniones;
}
.todo {
    grid-area: todo;
}
.peliculas {
    grid-area: peliculas;
} */

.proyectos-imagenes{
    display:grid;
    justify-content: center;
    /* flex-wrap: wrap; */
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   height: auto;
   width: 75%;
   grid-gap: 20px;
   /* padding-left: 15%;
   padding-right: 15%; */
   margin: 5% 15% 5% 15%;
}

.proyectos-imagenes div {
    width: 330px;
    height: auto;
    border: 0.5px hsla(341, 18%, 15%, 0.1); 
    /* background-color: bisque; */
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px;
    outline: 1px solid;
   
    /* grid-template-areas:
    "portfolio memes match3" 
    "gastos reuniones todo" 
    "peliculas"; */
}

.proyectos-imagenes div span{
    padding: 1rem;
}
.proyectos-imagenes div:hover {
    color:blueviolet;
    border: 3px rgba(158, 17, 245, 0.54);
    transform: scale(1.1);
    cursor: pointer;
    background-color: var(--blanco);

}

.proyectos-imagenes img {
    width: 330px;
    height: 250px;
}
.texto-imagen-proyectos {
    font-size:1.5rem;
}

/* SECCIONES CONTACTAME */

.contacto-escribime {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5rem;
    border-radius: 50%;
    width: auto;
    height: auto;
}

.contactame {
    background-color: coral;
    height: 80vh;
    width: 150vw;
    padding: 3rem;
}

.contactame-texto {
    font-size: 1.2rem;

}

.escribime {
    background-color: rgb(209, 184, 233);
    height: 80vh;
    width: 150vw;
    padding: 3rem;

}

.fa-brands, 
.fa-regular{
    font-size: 30px;
    color: white;
    margin: 1rem;
}

.fa-brands:hover,
.fa-regular:hover {
    color: var(--violeta);
}

input, textarea {
    border-radius: 20px;
    padding: 10px 15px;
    display: block;
    
}

form {
    font-size: 1.5rem;
}
/* SECCION FOOTER */

.indices-footer {
    display: flex;
    justify-content: center;
}
.iconos-footer {
    display: flex;
    justify-content: center;
}
footer {
    background-color: purple;
    padding: 4rem;
}

footer p {
    display: flex;
    justify-content: center;
}
